window {
   background-image: url("background.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
}

#unlock-button {
	opacity: 0;
}

#input-label {
	font-size: 0;
	opacity: 0;
}

#input-field {
	font-size: 0;
	opacity: 0;
}

#time-box {
	margin-top: 10em;
}
