* {
  font-family: FiraMono Nerd Font Mono;
  border-radius: 8;
  font-size: 14px;
  padding: 0px;
  /*background: transparent;*/
}

window#waybar {
	background: rgba(30,30,46,0.8);
	border-radius: 0px;
  padding: 0px;
  border-style: none;
}


#battery,
#network,
#clock,
#custom-power,
#tray,
#workspaces,
#pulseaudio {
  margin: 6px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;

  border-style: none;
  transition-duration: 120ms;

  background-color: #222222;
  color: #BB9AF7;
}

#custom-power {
	font-weight: bold;
	transition-duration: 120ms;
	margin-right: 6px;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #7DCFFF;
}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.active {
  color: #BB9AF7;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #F7768E;
}

#battery {
  background-color: #222222;
  color: #BB9AF7;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  color: #1d2021;
  background-color: #F7768E;
}
